@import 'settings';
.background-image {  
text-align: center;
margin: auto;
padding: 0;
background: no-repeat center center fixed; 
background-size: cover;
@media #{$large-up} {
}
}

.headline {
  margin-top: 55px;
  @media #{$medium-up} {
    margin-top: 20px;
  } 
  @media #{$large-up} {
    margin-top: 10px;
  }

  .title { 
    font-family: "Lato";
    font-size: 50px;
    line-height: 1em;
    text-transform: none;
    text-decoration: none;
    letter-spacing: 0px;
    font-weight: lighter;
    font-style: normal;
    color: #747474;
    margin: 0 0 10px;
    text-align: center;
    display: inline-block;
    width: 100%;
    @media #{$small-up} {
    font-size: 40px; 
    margin: 0 0 5px;
     }
    @media #{$medium-up} {
    font-size: 80px; 
  }
    @media #{$large-up} {
    font-size: 80px; 
     }
    }
    &.title-small {
      font-size: 46px; 
      margin-top: 10px;
        }      
    }

  a {
    color: rgb(85, 84, 84);
    &:hover, &:focus {
      color: $dark-gray;
    }
    a:visited{ color: gray 
    }
}
  .subtitle {
    font-family: "Lato";
    font-size: 14px;
    line-height: 1.25em;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: 400;
    font-style: normal;
    color: rgba(93, 92, 92, 0.8);
    margin: 10px 0 104px;
    @media #{$medium-up} {
    font-size: 70px;
    margin: 10px 0 104px; 
    @media #{$small-up} {
        font-size: 35px;
      }
  }
}

.tile {
  display:inline-block;
  width: 600px;
  height: 80px;
  background-color: none;
  opacity: .2;
  margin-left: 80px;
  color: black;
  
}


.content-container {
  padding:20px;
  background: rgba(193, 193, 193, 0.7);
  font-family: "Lato";  
  color: rgb(70, 69, 69);  
  line-height: 40px;
  margin-top: -15px;
  margin-bottom: 50px;
    .content {
      font-size: 25px;
    }
    .content-small {
    font-size: 25px;  
    padding-top: 10px;
    margin-bottom: 20px;
  }
}
