@import 'settings';

.title-bar {  
  background: #495A67 !important;
  padding: 1.5em .5em !important;
}

.title-bar-left {
  display: flex;
}

.verticle-align {
  margin: auto;
}

.headline-image {
  @media #{$small-only} {
    min-height: 60px;
    display: none !important;
  }
  @media #{$medium-up} {
    height: auto;
  }  
}