@import 'settings';

.navigation-links {
  @media #{$large-up} {
    display: flex;
    margin: auto;
    justify-content: flex-end; 
  }
}

.menu-item { 
  flex-direction: row;
  padding: 0 15px;
  list-style: none;
  a {
    color: #D9D9D9;
    &:hover, &:focus {
      color: $dark-gray;
    }
  }  
}

.menu-item img {  
  max-width: 20%;
}